In [20]:
#### Trabalhando com Datas #####
import pandas as pd
#
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/DIO/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/DIO/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/DIO/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/DIO/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/DIO/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Salvador.xlsx")
#
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])
#
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])
#
# Criando a coluna Receita por Venda
df["Receita/Vendas"] = df["Receita"] / df["Vendas"] 
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00    1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21    1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55    1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01    1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51    1522     8   196.08             8.0

In [6]:
# Verificar tipo de dados
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                     int64
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [21]:
#Transformando a coluna data em tipo inteiro para depois alterar novamente para data
#Vamos alterar LojaID para object (o mesmo que String no pandas)
df["Data"] = df["Data"].astype("int64")
df['LojaID'] = df['LojaID'].astype('object')
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [22]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [23]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [24]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas  Ano_Venda
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0       2018
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0       2018
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0       2018
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0       2018
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0       2018

In [27]:
# Pegando uma amostra de 10 elementos aleatórios
df.sample(10)

        Cidade       Data  Vendas  ...  Receita  Receita/Vendas  Ano_Venda
133      Natal 2019-01-02  153.71  ...   153.71             1.0       2019
234   Salvador 2019-01-03   48.39  ...    96.78             2.0       2019
120    Aracaju 2018-01-01    7.73  ...    77.30            10.0       2018
51      Recife 2019-01-01  146.95  ...   293.90             2.0       2019
1     Salvador 2018-01-01   19.02  ...    57.06             3.0       2018
100  Fortaleza 2019-01-01   18.58  ...    18.58             1.0       2019
94   Fortaleza 2019-01-01  150.49  ...   752.45             5.0       2019
79       Natal 2019-02-28  557.00  ...  2228.00             4.0       2019
0     Salvador 2018-01-01   31.06  ...    93.18             3.0       2018
133  Fortaleza 2019-03-02   14.67  ...   102.69             7.0       2019

[10 rows x 8 columns]

In [29]:
#Extraindo o mês e o dia
#O Pandas aceita definição de vários atributos na mesma linha
#Exempo: var1, var2, va3, ... = valor1, valor2, valor3, ...
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)
#
df.sample(5)

        Cidade       Data  Vendas  ... Ano_Venda  mes_venda  dia_venda
8    Fortaleza 2019-02-11   37.49  ...      2019          2         11
60     Aracaju 2018-01-01  215.88  ...      2018          1          1
140     Recife 2019-03-02  166.89  ...      2019          3          2
17      Recife 2019-02-14  142.45  ...      2019          2         14
64    Salvador 2019-01-01   37.96  ...      2019          1          1

[5 rows x 10 columns]

In [30]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [32]:
#Calculando a diferença de dias
#Obs: Quando não se tem a data inicio, pode-se usar a data mais antiga
df['diferenca_dias'] = df['Data'] - df['Data'].min()
df.sample(5)

       Cidade       Data  Vendas  ... mes_venda  dia_venda  diferenca_dias
32   Salvador 2019-01-01  151.27  ...         1          1        365 days
234  Salvador 2019-01-03   48.39  ...         1          3        367 days
206  Salvador 2019-01-02  151.45  ...         1          2        366 days
83     Recife 2019-01-01  143.61  ...         1          1        365 days
0     Aracaju 2018-01-01  142.00  ...         1          1          0 days

[5 rows x 11 columns]

In [36]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter
df.head(1)

    Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
0  Aracaju 2018-01-01   142.0  ...         1          0 days                1

[1 rows x 12 columns]

In [39]:
#Filtrando as vendas de 2019 do mês de março (Craindo outro Data Frame)
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]
#
vendas_marco_19.sample(20)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
116     Recife 2019-03-02   79.10  ...         2        425 days                1
119   Salvador 2019-03-02  136.37  ...         2        425 days                1
129   Salvador 2019-03-02  125.66  ...         2        425 days                1
130  Fortaleza 2019-03-02   12.36  ...         2        425 days                1
133  Fortaleza 2019-03-02   14.67  ...         2        425 days                1
32       Natal 2019-03-17  244.00  ...        17        440 days                1
50       Natal 2019-03-08  324.00  ...         8        431 days                1
46       Natal 2019-03-26  753.00  ...        26        449 days                1
113  Fortaleza 2019-03-02   38.63  ...         2        425 days                1
137  Fortaleza 2019-03-02   51.99  ...         2        425 days                1
19       Natal 2019-03-31  282.00  ...        31        454 days                1
116   Salvador 2019-03-02   41.78  ...         2        425 days                1
119  Fortaleza 2019-03-02  152.30  ...         2        425 days                1
138   Salvador 2019-03-02  212.03  ...         2        425 days                1
130   Salvador 2019-03-02   59.78  ...         2        425 days                1
115   Salvador 2019-03-02  202.33  ...         2        425 days                1
125   Salvador 2019-03-02   25.00  ...         2        425 days                1
115  Fortaleza 2019-03-02   12.23  ...         2        425 days                1
131   Salvador 2019-03-02   63.48  ...         2        425 days                1
122     Recife 2019-03-02  235.06  ...         2        425 days                1

[20 rows x 12 columns]